h1{
  color: blue;
  font-family: cursive;
  font-style: oblique;
  text-align: center;
}
img{
  image-resolution: from-image;
  margin: 30px;
}
p{
  color: crimson;
  font-weight: bold;
}
body{
  background-color: salmon;
}

.content {
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
}
