h1{
  color: blue;
  font-family: cursive;
  font-style: oblique;
}
img{
  image-resolution: from-image;
  margin: 30px;
}
p{
  color: crimson;
  font-weight: bold;
}
body{
  background-color: salmon;
}
